@(projectForm: Form[Project])

@import helper.form
@import bootstrap._

@main("One Line a Day - New Project") {
    <h1>Create a new project</h1>
    <p>&nbsp;</p>

    @form(routes.Projects.add, 'class -> "form-horizontal", 'role -> "form") {

        @text(projectForm("name"), "Name", "", "") <!-- IDE bitching about default empty string not fulfilling interface contract -->
        @textarea(projectForm("description"), "5", "Description", "", "")

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submit" type="submit" value="Submit" class="btn btn-primary">Create project</button>
                <a href="@routes.Projects.projects" class="btn cancel" role="button">Cancel</a>
            </div>
        </div>
    }

}

