@(project: Project, dailies: List[Daily], streak: Int)

@import helper._

@main("One Line a Day - Project") {

    <div class="row">
        <div class="col-md-8">
            <h1>@project.name</h1>

            <p>&nbsp;</p>

            <p>@project.description</p>

            <p>&nbsp;</p>

            @form(routes.Projects.delete(project.id)) {
                <a href="@routes.Projects.edit(project.id)" class="btn btn-primary">Edit this project</a> &nbsp;
                <button type="submit" class="btn btn-danger">Delete project</button>
            }

        </div>

        <div class="col-md-4">
            <div class="jumbotron">
                <h1>@streak</h1>
                <p>day streak@if(streak > 0) {!} else {&nbsp;(get crackin')}</p>
            </div>

            @*<h3>Momentum</h3>*@
            @*Calculates unbroken streaks and time spent on each daily into a momentum factor. Can increase with social media awareness*@

            @*<h3>Serendipity</h3>*@
            @*Just an idea that would indicate when the project has accidentally received some boost somehow*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>

            <h2>Project dailies</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        @*<th>Created on</th>*@
                        <th>Completed?</th>
                        <th>Resources</th>
                    </tr>
                </thead>
                @dailies.map { daily =>
                    <tr>
                        <td><a href="@routes.Dailies.daily(daily.id)">@daily.description</a></td>
                        @*<td>@daily.createdOn.format("MMM d")</td>*@
                        @if(daily.completedOn == None) {
                            <td>
                                @form(routes.Dailies.complete(daily.id)) {
                                    <button type="submit" class="btn btn-success btn-xs">Complete it!</button>
                                }
                            </td>
                        } else {
                            <td>@daily.completedOn.get.format("MMM d")</td>
                        }
                        <td>
                            <a href="#">Links <span class="label label-primary">2</span></a>&nbsp;
                            <a href="#">Commits <span class="label label-primary">3</span></a>&nbsp;
                            <a href="#">Tweets <span class="label label-primary">1</span></a>
                        </td>
                    </tr>
                }
            </table>

            <a href="@routes.Dailies.newDaily(project.id)" class="btn btn-success">Add a daily</a>
        </div>
    </div>

}

@*http://bootstrap-calendar.azurewebsites.net/index-bs3.html*@
@*http://tutorialzine.com/2013/07/50-must-have-plugins-for-extending-twitter-bootstrap*@
@*http://bootstrapstyler.com/themes/admin/2-boardskin*@
@*http://fortawesome.github.io*@
@*http://designshack.net/articles/css/20-awesome-resources-for-twitter-bootstrap-lovers/*@