@(projects: List[Project])

@main("One Line a Day - Projects") {

    <h1>Your projects</h1>
    <p>&nbsp;</p>

    <table class="table">
        <thead>
            <tr>
                <th>Project name</th>
                <th>Created on</th>
                @*<th>Streak</th> two approaches: pass in map(Project, Streak) or optimize a table for this view*@
            </tr>
        </thead>
        @projects.map { project =>
            <tr>
                <td><a href="@routes.Projects.project(project.id)">@project.name</a></td>
                <td>@project.createdOn.format("MMMM d, yyyy")</td>
                @*<td>0</td>*@
            </tr>
        }
    </table>

    <a href="@routes.Projects.newProject" class="btn btn-success btn-lg">Start a new project</a>

}
