@(resourceForm: Form[Resource], daily: Daily)

@import helper.form
@import bootstrap.text
@import bootstrap.textarea

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">New resource</h4>
        </div>

        @form(routes.Resources.create, 'id -> "resourceForm", 'class -> "form-horizontal", 'role -> "form") {
            <div class="modal-body">
                <input type="hidden" name="dailyId" value="@daily.id"/>
                @text(resourceForm("url"), "Link")
                @text(resourceForm("title"), "Title")
                @text(resourceForm("tags"), "Tags", help = "Separate each tag with a comma")
                @textarea(resourceForm("comment"), "3", "Comment")

            </div>
            <div class="modal-footer">
                <button id="submit" type="submit" value="Submit" class="btn btn-primary">Save resource</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        }
    </div> <!-- /.modal-content -->
</div> <!-- /.modal-dialog -->

<div id="errorData"></div>

<script type="text/javascript">
    $("#resourceForm" ).submit(function (event) {

        $.post($(this).attr("action"), $(this).serialize())
            .done(function(data) {
                $("#newResourceModal").modal("hide");
                location.reload();
//                var tbody = $("#resourcesTable").find("tbody:last");
//                tbody.empty();
//                tbody.append(data);
            })
            .fail(function(data) {
                $("#newResourceModal").empty();
                $("#newResourceModal").append(data.responseText);
            });

        event.preventDefault();

    });
</script>