@(dailyForm: Form[Daily], project: Project)

@import helper.form
@import bootstrap._

@main("One Line a Day - New Daily") {

    <h1>New Daily</h1>
    <p>&nbsp;</p>

    @form(routes.Dailies.create, 'class -> "form-horizontal", 'role -> "form") {
        <input type="hidden" name="projectId" value="@project.id"/>

        @text(dailyForm("description"), "Describe your daily", help = "This is the small nugget of work that you are going to accomplish")

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submit" type="submit" value="Submit" class="btn btn-primary">Save daily</button>
                <a href="@routes.Projects.project(project.id)" class="btn cancel" role="button">Cancel</a>
            </div>
        </div>
    }

}