@(daily: Daily, project: Project, resources: List[Resource])

@import helper._

@main("One Line a Day - Daily") {

    <h1>Daily <small>@daily.createdOn.format("MMM d, yyyy")</small></h1>

    <hr>
    <blockquote>
        <p>@daily.description</p>
    </blockquote>

    <dl class="dl-horizontal">
        <dt>Project</dt>
        <dd><a href="@routes.Projects.project(project.id)">@project.name</a></dd>
        <dt>Completed</dt>
        <dd>
        @if(daily.completedOn == None) {
            Nope. Get going!
        } else {
            @daily.completedOn.get.format("MMM d, yyyy")
        }
        </dd>
        <dt>Duration</dt>
        <dd>@daily.duration minutes</dd>
    </dl>
    <hr>

    @form(routes.Dailies.delete(daily.id)) {
        <button type="submit" class="btn btn-danger">Delete</button>
    }

    <p>&nbsp;</p>

    <h2>Resources</h2>

    <table id="resourcesTable" class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Tags</th>
                <th>Saved on</th>
            </tr>
        </thead>
        <tbody>
            @resource_rows(resources)
        </tbody>
    </table>

    <button type="button" class="btn btn-success" data-toggle="modal" data-remote="@routes.Resources.newResource(daily.id)" data-target="#newResourceModal">
        Add a resource
    </button>

    <div class="modal fade" id="newResourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    <script type="text/javascript">
        $('#newResourceModal').on('hidden.bs.modal', function () {
            $(this).removeData();
        })
    </script>

    @*don't forget to check and see if we need to use jquery form libs!!!!!*@

}