@(daily: Daily, project: Project, resources: List[Resource])

@import helper._

@main("One Line a Day - Daily") {

    <h1>@daily.description<br><small>@daily.createdOn.format("MMM d, yyyy")</small></h1>

    <p><a href="@routes.Projects.project(project.id)">@project.name</a></p>
    <p><strong>Duration </strong>@daily.duration minutes</p>
    <p>
        @if(daily.completedOn == None) {
            This daily isn't done. <em>Get going!</em>
        } else {
            This daily was completed on @daily.completedOn.get.format("MMM d, yyyy")
        }
    </p>
    <hr>
    @form(routes.Dailies.complete(daily.id)) {
        <button type="submit" class="btn btn-success">Complete it!</button>
    }
    @form(routes.Dailies.delete(daily.id)) {
        <button type="submit" class="btn btn-danger">Delete</button>
    }

    <p>&nbsp;</p>

    <h2>Resources</h2>

    <table id="resourcesTable" class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Tags</th>
                <th>Saved on</th>
                <th>    </th>
            </tr>
        </thead>
        <tbody>
            @resource_rows(resources)
        </tbody>
    </table>

    <button type="button" class="btn btn-success" data-toggle="modal" data-remote="@routes.Resources.newResource(daily.id)" data-target="#newResourceModal">
        Add a resource
    </button>

    <div class="modal fade" id="newResourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    <script type="text/javascript">
        $('#newResourceModal').on('hidden.bs.modal', function () {
            $(this).removeData();
        })
    </script>
}