@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>

@*http://java.dzone.com/articles/managing-web-dependencies-play*@


@*
setting up twitter boostrap for forms and such
----------------------------------------------
http://www.playframework.com/documentation/2.0.1/ScalaFormHelpers
http://www.playframework.com/documentation/2.2.x/Samples
*@